{{#each this}}
<div class="card">
    <h5 class="card-title text-bold">{{name}}</h5>
    <div class="card-box">
        <img src="{{flag}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <p class="text-bold">Capital: </p>{{capital}} <br>
            <p class="text-bold">Population: </p>{{population}} <br>
            <div class="ul-languages">
                <p class="text-bold">Languages:</p>
                <ul class="list-group list-group-flush">
                    {{#each languages}}
                    <li class="list-group-item">{{this.name}} </li>
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>

    {{/each }}